<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Search Books</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .text-center {
        text-align: center;
       
    }
</style>




<section class="border p-4 mb-4 d-flex align-items-center flex-column">

   

     <form asp-action="SearchBooks" method="post">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       
        <!-- Container wrapper -->
            @Html.DropDownList("BookName", new SelectList(ViewBag.Obj.Books, "BookName", "BookName"), "Please select Book name", new { @id = "hfBookName" })
        @Html.Hidden("BookName", null, new { @id = "hfBookName" })
        <br />
            @Html.DropDownList("CategoryName", new SelectList(ViewBag.Obj.Categories, "CategoryName", "CategoryName"), "Please select Category name", new { @id = "hfCategoryName" })
        @Html.Hidden("CategoryName", null, new { @id = "hfCategoryName" })
        <br />
            @Html.DropDownList("UserName", new SelectList(ViewBag.Obj.Authors, "UserName", "UserName"), "Please select Author name", new { @id = "hfUserName" })
        @Html.Hidden("UserName", null, new { @id = "hfUserName" })
        <br />
            @Html.DropDownList("PublisherName", new SelectList(ViewBag.Obj.Publishers, "PublisherName", "PublisherName"), "Please select publisher name", new { @id = "hfPublisherName" })
        @Html.Hidden("PublisherName", null, new { @id = "hfPublisherName" })
        <br />

            <input id="Price" name="Price" type="number" placeholder="enter price" />


            <br /> <br /> <br /> <br /> <br />
           
        
    </nav>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Search Book</button>
        </div>
        
     </form>
    <!-- Navbar -->
</section>

<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["TitleSortParm"]">Title</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["AuthorSortParm"]">Author</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["PublisherSortParm"]">Publisher</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["PublishedDateSortParm"]">Publish Date</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["CategorySortParm"]">Category</a></th>
            <th><a asp-action="Dashboard" asp-route-sortOrder="@ViewData["BookContentSortParm"]">Book Content</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dashboardBook in ViewBag.DashboardBooks)
        {
            <tr>
                <td>@dashboardBook.Title</td>
                <td>@dashboardBook.Author</td>
                <td>@dashboardBook.Publisher</td>
                <td>@dashboardBook.Price</td>
                <td>@dashboardBook.PublishedDate</td>
                <td>@dashboardBook.CategoryName</td>
                <td>@dashboardBook.BookContent</td>
            </tr>
        }

    </tbody>
</table>






